<!DOCTYPE html>
<html>
  <head>
    <title>RecordLablr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>



  <body>

    <header>
      <div id="flash">
        <% if flash[:messages] %>
          <p id="flash-text"><%= flash[:messages].join(", ") %></p>
        <% end %>
      </div>

      <div id="login-bar">
        <% if current_user %>
          <%= button_to "Logout", session_url(current_user), method: :delete %>
        <% else %>
          <%= link_to "Login", new_session_url, class: "button-link" %>
          <%= link_to "Register", new_user_url, class: "button-link" %>
        <% end %>
      </div>
    </header>

    <div id="site-content">
      <%= yield %>
    </div>

  </body>
</html>
