<!DOCTYPE html>
<html>
  <head>
    <title>RecordLablr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>

    <% if flash[:messages] %>
      <% flash[:messages].each do |message| %>
        <p><%= message %></p>
      <% end %>
    <% end %>

    <% if current_user %>
      <%= button_to "Logout", session_url, method: :delete %>
    <% else %>
      <%= link_to "Login", new_session_url %> <%= link_to "Register", new_user_url %>
    <% end %>
    
  </header>

  <body>
    <%= yield %>
  </body>
</html>
